.htmlize {
    color: #F8F8F8;
    background-color: #141414;
}
.constant {
    /* font-lock-constant-face */
    color: #CF6A4C;
}
.esk-paren {
    /* esk-paren-face */
    color: #7f7f7f;
}
.string {
    /* font-lock-string-face */
    color: #8F9D6A;
}
