h1, h2, h3 {
    font-family: Neuton, serif;
}

h2 {
    margin-bottom: 0.5em;
}

body {
    font-family: 'Galdeano', sans-serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

p {
    font-size: 18px;
    font-family: 'Galdeano', sans-serif;
}

pre, tt, kbd, code {
    font-family: 'Inconsolata', 'Consolas', mono;
}



li {
    font-size: 18px;
}

#salespitch {
    width: 40em;
    margin: 2em;
}

#sample-project {
    font-size: 20px;
    width: 32em;
    margin: 2em;
}